<!DOCTYPE html>
<html>
<script src="./navigation.js" type="module"></script>
<script type="module">
    import { injectNavigationMenu } from './navigation.js'; injectNavigationMenu('menu-placeholder');
</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us - Example Website</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="content">
        <div class="banner-menu" id="menu-placeholder"></div>
        <section class="hero">
            <h1>About Us</h1>
            <p>Get to know Example Website and our mission.</p>
        </section>

        <section class="about">
            <h2>Our Mission</h2>
            <p>At Example Website, we are dedicated to providing a platform. Our mission is to help everyone.</p>
        </section>

        <section class="team">
            <h2>Our Team</h2>
            <p>We are a diverse team of passionate individuals with expertise. </p>
        </section>
    </div>
    <footer>
        <p>&copy; Example Copyright. All rights reserved.</p>
    </footer>
</body>

</html>