<!DOCTYPE html>
<html>
<script src="./navigation.js" type="module"></script>
<script type="module">
    import { injectNavigationMenu } from './navigation.js'; injectNavigationMenu('menu-placeholder');
</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example Homepage</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="content">
        <div class="banner-menu" id="menu-placeholder"></div>
        <section class="hero">
            <h1>Welcome to Example Homepage</h1>
            <p>For use in FS QAP 2</p>
            <a href="/views/chat.html" class="cta-button">Explore the chat feature</a>
            <a href="/views/chat.html" class="cta-button">Explore the News feature</a>
        </section>

        <section class="about">
            <h2>About Us</h2>
            <p>At Example website we are a company with a rich history and a bright future, with a mission to make the world a better place. </p>
        </section>
    </div>
    <footer>
        <p>&copy; Example Copyright. All rights reserved.</p>
    </footer>

</body>

</html>